.aboutUsContainer {
  padding: 20px;
  background-color: #fafafa;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  width: 100%;
}

.section {
  margin-bottom: 40px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  font-family: serif;
  color: #122e53;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

p {
  font-size: 20px;
  line-height: 2;
  text-align: start;
}

/* Updated styles for lists */
.list {
  list-style-type: none; /* Change to 'none' to remove bullet points */
  padding-left: 0; /* Remove default padding */
}

.list li {
  font-size: 18px; /* Adjust font size */
  line-height: 1.5;
  font-family: cormorant;
  font-weight: normal;
}

.contactList {
  list-style-type: none;
  padding-left: 0;
  font-size: 20px;
  font-family: garamond;
  margin-top: 20px;
  color: #122e53;
  line-height: 1.7;
  font-weight: 600;
}
@media (max-width: 768px) {
  .aboutUsContainer {
    height: 100%;
    width: 100%;
  }
  h1 {
    color: #122e53;
    font-size: 1.5rem;
    text-align: center;
  }
  p {
    font-size: 18px;
    line-height: 2;
    text-align: start;
    font-family: garamond;
  }
}
