.image-gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  justify-content: center;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.image-item {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.image-controls {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.image-controls button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #f26722 !important;
  margin: 0 10px;
}

.styles-module_close__2I1sI {
  color: #f26722 !important;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 60px;
  font-weight: bold;
  opacity: 0.2;
  cursor: pointer;
}
.current-image {
  text-align: center;
}
.styles-module_image__2hdkJ {
  max-height: 100%;
  width: 100%;
  object-fit: cover;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.styles-module_image__2hdkJ.video-container {
  object-fit: fill;
}
.styles-module_navigation__1pqAE {
  opacity: 1 !important;
  outline: none;
}
.styles-module_close__2I1sI {
  color: #f26722 !important;
  opacity: 1 !important;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
}
.styles-module_navigation__1pqAE {
  height: 80%;
  color: #ff5500;
  cursor: pointer;
  position: absolute;
  font-size: 40px;
  line-height: 60px;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 0 15px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.gallery-heading {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #f26722;
}
/* Media Query for Mobile View */
@media (max-width: 768px) {
  .image-gallery {
    grid-template-columns: 1fr; /* Stack images in a single column */
    gap: 5px; /* Reduce the gap between images */
    overflow-x: hidden;
    height: auto;
    width: 100%;
  }
  .gallery-heading {
    font-size: 17px;
    list-style: normal;
  }
}
