@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&family=Playfair+Display&display=swap");
:root {
  --font-base: "Noto Serif", serif;
  --font-alt: "Playfair Display", serif;
  --color-blue: #060ef2;
  --color-black: #0c0c0c;
  --color-gray: #545454;
  --color-crimson: #f5efdb;
  --color-grey: #aaaaaa;
  --color-white: #ffffff;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
a {
  color: unset;
  text-decoration: none;
}
